<!DOCTYPE html PUBLIC>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>w3newbie HTML Email</title>
    <style type="text/css">
      @media screen and (max-width: 600px) {
            img.third-img-last {
              width: 200px !important;
              max-width: 200px !important;
            }
            .padding {
              padding-right: 0 !important;
              padding-left: 0 !important;
            }
          }
          @media screen and (max-width: 400px) {
            img.third-img {
              width: 200px !important;
              max-width: 200px !important;
            }
          }
    </style>
  </head>
  <body style="Margin:0;padding:0;background-color:#f6f9fc;">
    <center class="wrapper" style="width:100%;table-layout:fixed;background-color:#f6f9fc;padding-bottom:40px;">
      <div class="webkit" style="max-width:600px;background-color:#ffffff;">
        <table class="outer" align="center" style="Margin:0 auto;width:100%;max-width:600px;border-spacing:0;font-family:sans-serif;color:#4a4a4a;">
          <tr>
            <td style="padding:0;">
              <table width="100%" style="border-spacing:0;border-spacing: 0;">
                <tr>
                  <td style="padding:0;background-color:#388cda;padding:10px;text-align:center;">
                    <a href="https://w3newbie.com" style="text-decoration:none;color:#388cda;font-size:16px;"><img src="../../../../../../assets/img/email1/w3newbie-white.png" width="180" alt="Logo" title="Logo" style="border:0;"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0;"><a href="#" style="text-decoration:none;color:#388cda;font-size:16px;"><img src="../../../../../../assets/img/email1/1200x700.jpg" alt="Banner" width="600" style="border:0;max-width: 100%;"></a></td>
          </tr>
          <tr>
            <td style="padding:0;">
              <table width="100%" style="border-spacing:0;border-spacing:0;">
                <tr>
                  <td class="three-columns" style="padding:0;text-align:center;font-size:0;padding-top:40px;padding-bottom:30px;">
                    <table class="column" style="border-spacing:0;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
                      <tr>
                        <td class="padding" style="padding:0;padding:15px;">
                          <table class="content" style="border-spacing:0;font-size:15px;line-height:20px;">
                            <tr>
                              <td style="padding:0;"><a href="#" class="third-img" style="text-decoration:none;color:#388cda;font-size:16px;"><img src="../../../../../../assets/img/email1/380x280.jpg" alt="Watch" width="150" style="border:0;max-width:150px;"></a></td>
                            </tr>
                            <tr>
                              <td style="padding:0;padding: 10px;">
                                <p style="font-size: 17px;font-weight:bold;">APPLE WATCH</p>
                                <p>sample.</p>
                                <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">Learn more..</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table class="column" style="border-spacing:0;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
                      <tr>
                        <td class="padding" style="padding:0;padding:15px;">
                          <table class="content" style="border-spacing:0;font-size:15px;line-height:20px;">
                            <tr>
                              <td style="padding:0;"><a href="#" class="third-img" style="text-decoration:none;color:#388cda;font-size:16px;"><img src="../../../../../../assets/img/email1/380x280-3.jpg" alt="Watch" width="150" style="border:0;max-width:150px;"></a></td>
                            </tr>
                            <tr>
                              <td style="padding:0;padding: 10px;">
                                <p style="font-size: 17px;font-weight:bold;">WATCH BANDS</p>
                                <p>sample</p>
                                <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">Learn more..</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table class="column" style="border-spacing:0;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
                      <tr>
                        <td class="padding" style="padding:0;padding:15px;">
                          <table class="content" style="border-spacing:0;font-size:15px;line-height:20px;">
                            <tr>
                              <td style="padding:0;"><a href="#" class="third-img-last" style="text-decoration:none;color:#388cda;font-size:16px;"><img src="../../../../../../assets/img/email1/380x280-2.jpg" alt="Watch" width="150" style="border:0;max-width:150px;"></a></td>
                            </tr>
                            <tr>
                              <td style="padding:0;padding: 10px;">
                                <p style="font-size: 17px;font-weight:bold;">EAR PODS</p>
                                <p>sample</p>
                                <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">Learn more..</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0;">
              <table width="100%" style="border-spacing:0;border-spacing: 0;">
                <tr>
                  <td style="padding:0;background-color: #388cda;padding: 15px;text-align:center;">
                    <p style="font-size: 18px;color:#ffffff; margin-bottom:13px">
                      Connect with us</p>
                    <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">
                      <img src="../../../../../../assets/img/email1/white-facebook.png" width="30" alt="" style="border:0;">
                    </a>
                    <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">
                      <img src="../../../../../../assets/img/email1/white-twitter.png" width="30" alt="" style="border:0;">
                    </a>
                    <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">
                      <img src="../../../../../../assets/img/email1/white-youtube.png" width="30" alt="" style="border:0;">
                    </a>
                    <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">
                      <img src="../../../../../../assets/img/email1/white-linkedin.png" width="30" alt="" style="border:0;">
                    </a>
                    <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;">
                      <img src="../../../../../../assets/img/email1/white-instagram.png" width="30" alt="" style="border:0;">
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0;background-color: #efefef;">
              <table width="100%" style="border-spacing:0;border-spacing:0;">
                <tr>
                  <td style="padding:0;padding: 20px;text-align:center;padding-bottom: 10px;">
                    <a href="#" style="text-decoration:none;color:#388cda;font-size:16px;"><img src="../../../../../../assets/img/email1/w3newbie.png" width="160" alt="" style="border:0;"></a>
                    <p style="font-size: 16px;Margin-top:18px;margin-bottom: 10px;">W3newbie HTML</p>
                    <p style="font-size: 16px;Margin-bottom:10px;">Street Address, city, state zip</p>
                    <p><a href="mailto:email@example.com" style="text-decoration:none;color:#388cda;font-size:16px;">email@example.com</a></p>
                    <p><a href="tel:18008888888" style="text-decoration:none;color:#388cda;font-size:16px;">1-800-888-8888</a></p>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding:0;padding: 25px;text-align:center;">
                    <p><a href="#" style="text-decoration:none;color:#388cda;font-size:16px;font-size: 13px;">UNSUBSCRIBE</a></p>
                  </td>
                </tr>
                <tr>
                  <td height="20" style="padding:0;background-color: #388cda;"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
  <button mat-icon-button mat-dialog-close class="email-close-btn">
    <mat-icon>close</mat-icon>
</button>
</html>