<div class="contact category">
    <div class="vertical-bottom">
        <header>
            <h1>Contact</h1>
        </header>

        <div class="contact-wrapper">

            <body>
                <p>I am interested in joining a US company as a full-time <strong>front-end developer</strong> and am also happy to develop
                    <strong>HTML emails</strong>.
                </p>
                <p style="margin-top: 6px;">Please contact me with inquiries.</p>
            </body>

            <footer>
                <div class="left">
                    <a href="mailto: jdwilford.dev@gmail.com">jdwilford.dev@gmail.com</a>
                    <br>
                    <a href="tel: +14805611836">+1-480-561-1836</a>
                </div>
                <img src="../../../assets/img/me-th.jpg" alt="">
            </footer>
        </div>
    </div>
</div>